body {
    background-color: darkslategray;
    color: white;
    margin-left: 100px;
}

ol {
    margin-left: auto;
    margin-right: auto;
}

.main-li {
    line-height: 1.5;
    text-align: justify;
    min-width: 500px;
    padding: 10px;
    border: groove 1px gray;
    list-style: none;
}

#environment-container {
    clear: both;
    float: left;
}

#filter {
    clear: both;
    float: left;
}

.NoFilter {
    float: right;
}

#buttonDelete, #button {
    background-color: darkred;
    padding: 5px;
    margin: 1px;
    border-radius: 5px;
    color: white;
}

#buttonEdit {
    background-color: darkgreen;
    padding: 5px;
    margin: 1px;
    border-radius: 5px;
    color: white;
}

#FilterList {
    clear: both;
    margin-bottom: 10px;
}

#AddPerson, #FilterList {
    border: outset 1px;
    padding: 5px;
    width: 190px;
    float: left;
}

footer {
    background-color: darkgray;
    text-align: center;
    margin-top: 80px;
    left: 0;
    /*bottom: 0;*/
    height: 40px;
    width: 100%;
    overflow: hidden;
    color: black;
}
