@model Mvc_Data_Assignment_Repeat.ViewModels.PersonViewModel
@{
    ViewBag.Title = "Index";
}

<h1>index</h1>

<form method="post" asp-action="Create" id="AddPerson">
    <input type="text" name="Name" value="" id="createName" placeholder="Name" />
    <br /><br />
    <input type="number" name="PhoneNumber" value="" id="createPhoneNumber" placeholder="PhoneNumber" />
    <br /><br />
    <input type="text" name="City" value="" id="createCity" placeholder="City" />
    <br /><br />

    <button id="button" class="btn btn-success">Create</button>
    <br /><br /><br />
</form>
@*onclick="LinkCreate('@Url.Action("Create", "Home")')"*@

<form method="post" asp-action="Filter" id="FilterList">
    <input type="text" name="filter" value="" placeholder="Filter by name or city" />
    <br /><br />
    <input type="submit" name="filter" value="Filter" id="button" />
    <input type="submit" name="Name" value="No-Filter" class="NoFilter" id="button" />
    <br />
</form>

@if (ViewBag.TooBig != null)
{
    <h3>@ViewBag.TooBig</h3>
}

@if (Model.Filter != null)
{
    <h3 id="filter">Showing results for: @Model.Filter!</h3>
}

<div class="row">
    <ol id="allPersons">
        @foreach (Person item in Model.PersonList)
        {
            @await Html.PartialAsync("_Person", item)
        }
    </ol>
</div>
