@model Mvc_Data_Assignment_Repeat.ViewModels.PersonViewModel

<div class="row">
    <ol id="allPersons">
        @foreach (Person item in Model.PersonList)
        {
            @await Html.PartialAsync("_Person", item)
        }
    </ol>
</div>