@model Mvc_Data_Assignment_Repeat.ViewModels.PersonViewModel
@{
    ViewBag.Title = "Index";
    Person person = new Person();
}

@* This View is the main screen. It currently shows 2 forms that adds and filters users. *@

<h1>index</h1>
<div class="">
    <input class="col-sm-2" type="text" name="Name" value="" id="createName" placeholder="Name" />
    <br /><br />
    <input class="col-sm-2" type="number" name="PhoneNumber" value="" id="createPhoneNumber" placeholder="PhoneNumber" />
    <br /><br />
    <input class="col-sm-2" type="text" name="City" value="" id="createCity" placeholder="City" />
    <br /><br />
    <button class="btn btn-primary" onclick="LinkCreate('@Url.Action("Create", "Home")')">Create</button>
    <br /><br /><br />
</div>

<div class="">
    <input class="col-sm-2" type="text" id="filter" name="filter" value="" placeholder="Filter by name or city" />
    <br /><br />
    <button class="btn btn-primary" onclick="LinkFilter('@Url.Action("Filter", "Home")', 'filter')">Filter / No filter</button>
    <br />
</div>

@* This Html-code right here is the List. It requests data from another Partial View
    and shows it on the website.*@

<div class="row">
    <ol id="personList">
        <partial name="_List" />
    </ol>
</div>