@model Mvc_Data_Assignment_Repeat.ViewModels.PersonViewModel
@{
    ViewBag.Title = "Index";
}

<h1>index</h1>

<form method="post" asp-action="Create" id="AddPerson">
    <input type="text" name="Name" value="" placeholder="Name" />
    <br /><br />
    <input type="number" name="PhoneNumber" value="" placeholder="PhoneNumber" />
    <br /><br />
    <input type="text" name="City" value="" placeholder="City" />
    <br /><br />

    <button id="button">Create</button>
    <br /><br /><br />
</form>

<form method="post" asp-action="Filter" id="FilterList">
    <input type="text" name="filter" value="" placeholder="Filter by name or city" />
    <br /><br />
    <input type="submit" name="filter" value="Filter" id="button" />
    <input type="submit" name="Name" value="No-Filter" class="NoFilter" id="button" />
    <br />
</form>


@if (Model.Filter != null)
{
    <p>You're filtering for "@Model.Filter"!</p>
}

<div>
    <ol>
        @foreach (Person item in Model.PersonList)
        {
            @await Html.PartialAsync("_Person", item)
        }
    </ol>
</div>
